* {
  box-sizing: border-box;
}

:root {
  --Inter: 'Inter', sans-serif;
  --Roboto: 'Roboto', sans-serif;
  --background: #ebeef3;
  --sign-up: #52c41a;
  --white: #ffffff;
  --heading-color: #000000;
  --title: #1890ff;
  --shadow: #d9d9d9;
}

#root {
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  font-family: var(--Inter), sans-serif;
  background: var(--background);
}

body {
  margin: 0;
  font-family: var(--Inter), sans-serif;
}
